APP_NAME=FanStore
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://your-domain.up.railway.app

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=3306
DB_DATABASE=fanstore_db
DB_USERNAME=
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

FILESYSTEM_DISK=public

TMDB_API_KEY=
OPENWEATHER_API_KEY=
GOOGLE_MAPS_API_KEY=

LOG_CHANNEL=stderr
LOG_LEVEL=error
